// Scrollbar
body::-webkit-scrollbar {
  width: 12px;
}

table tbody::-webkit-scrollbar {
  height: 12px;
}

body,
table tbody {
  scrollbar-width: thin;
  scrollbar-color: color('amber', 'darken-2') color('grey', 'lighten-2');
}

body::-webkit-scrollbar-track,
table tbody::-webkit-scrollbar-track {
  background: color('grey', 'lighten-2');
}

body::-webkit-scrollbar-thumb,
table tbody::-webkit-scrollbar-thumb {
  background-color: color('amber', 'darken-2');
  border-radius: 6px;
  border: 1px solid color('grey', 'lighten-2');
}

.col .row {
  margin: 0;
  padding: 10px;
}

.fixed-action-btn {
  padding: 0;
  left: 25px;
  top: 25px;
}

.nav-wrapper .brand-logo {
  display: block;
  height: 100%;
  img {
    height: 100%;
  }
}
.sidenav {
  .logo-container {
    width: 100%;
    .logo-link {
      padding: 0;
      height: 143px;
      width: 100%;

      .logo {
        width: 100%;
      }
    }
  }

  .collapsible {
    .collapsible i {
      padding-left: 10px;
    }

    .collapsible span {
      padding-left: 70px;
    }

    li:hover {
      background: color('yellow', 'lighten-3');
    }
  }
}

// Main Container
.main-container {
  .department-name {
    background-color: #fff;
    border-bottom: 1px solid #e0d0d0;
    box-shadow: 2px 0 1px 0 rgba(0, 0, 0, 0.14),
      3px 0 1px -2px rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.75rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 15px;
    position: fixed;
    z-index: 997;
  }

  .table-container {
    .material-name,
    .material-description {
      margin: 0;
      padding: 15px 10px;
      padding: 5px;
    }

    .scrollable-table {
      margin-bottom: 2.5rem;
    }
  }

  > .row {
    margin-top: 5em;

    .col {
      padding: 0;
    }
  }

  .owl-carousel {
    padding: 10px 10px;

    .owl-wrapper {
      display: flex !important;
    }

    .owl-item img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      max-width: initial;
    }

    .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot:hover span {
      background: color('amber', 'accent-2');
    }
  }

  .table-container {
    margin-top: 10px;
  }

  .page-footer {
    padding: 0;

    .footer-copyright {
      padding: 20px;
    }
  }
}

// Modal
#signin.modal {
  width: 350px;

  h5 {
    margin-top: 0;
    letter-spacing: 1px;
  }

  .btn {
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
  }
}

// Input Fields
.input-field {
  /* label color */
  // label {
  //   color: #000;
  // }
  /* label focus color */
  input[type='email']:focus + label,
  input[type='password']:focus + label {
    color: color('amber', 'accent-3') !important;
  }
  /* label underline focus color */
  input[type='email']:focus,
  input[type='password']:focus {
    // color: color('amber', 'accent-3') !important;
    border-bottom: 1px solid color('amber', 'accent-3') !important;
    box-shadow: 0 1px 0 0 color('amber', 'accent-3') !important;
  }
  /* valid color */
  input[type='text'].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  input[type='text'].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .prefix.active {
    color: #000;
  }
}

// Responsive
@media only screen and (min-width: 993px) {
  .navbar-fixed {
    display: none;
  }
  .main-container {
    margin-left: 300px;

    .department-name {
      margin-left: -150px;
    }
  }
}
